html,body{
    margin: 0;
    padding: 0;
    border: none;
    background: #a6a6ff;
  }
  .container {
    width: 100%;
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
  }
  h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 75pt;
    text-shadow: 4px 4px #000;;
    color: #ffffee;
    letter-spacing: 15pt;
    margin: 0 0 20px 0;
  }
  h2 {
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 18pt;
    text-shadow: 2px 2px #003;
    color: rgb(14, 14, 252);
    margin: 0 0 40px 0;
  }
  h2 strong {
    font-size: 22pt;
    color: #fff;
  }
  .play {
    display: inline-block;
    margin: 0 60px;
    padding: 40px;
    text-shadow: 4px 4px #000;;
    color: #ffff00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40pt;
    border: 5px solid #0000cc;
    border-radius: 10px;
    text-decoration: none;
    background-color: #0000ff;
    letter-spacing: 1pt;
    margin-bottom: 10px;
  }
  .play:hover {
    background-color: #0033ff;
  }